In [1]:
import numpy as np
import pandas as pd

In [20]:
df1 = pd.read_csv(r'C:\Users\Admin\Downloads\Compressed\2010-capitalbikeshare-tripdata\2010-capitalbikeshare-tripdata.csv')
df1[:3]

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,31208,M St & New Jersey Ave SE,31108,4th & M St SW,W00742,Member
1,61,2010-09-20 11:41:22,2010-09-20 11:42:23,31209,1st & N St SE,31209,1st & N St SE,W00032,Member
2,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,31600,5th & K St NW,31100,19th St & Pennsylvania Ave NW,W00993,Member

In [23]:
df1['Start date'] = pd.to_datetime(df1['Start date'])

In [24]:
df1['Start date']

0        2010-09-20 11:27:04
1        2010-09-20 11:41:22
2        2010-09-20 12:05:37
3        2010-09-20 12:06:05
4        2010-09-20 12:10:43
                 ...
115592   2010-12-31 23:20:32
115593   2010-12-31 23:21:57
115594   2010-12-31 23:27:28
115595   2010-12-31 23:37:38
115596   2010-12-31 23:49:05
Name: Start date, Length: 115597, dtype: datetime64[ns]

In [25]:
df1['Start date'].dt.year

0         2010
1         2010
2         2010
3         2010
4         2010
          ...
115592    2010
115593    2010
115594    2010
115595    2010
115596    2010
Name: Start date, Length: 115597, dtype: int64

In [26]:
df1[:3]

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,31208,M St & New Jersey Ave SE,31108,4th & M St SW,W00742,Member
1,61,2010-09-20 11:41:22,2010-09-20 11:42:23,31209,1st & N St SE,31209,1st & N St SE,W00032,Member
2,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,31600,5th & K St NW,31100,19th St & Pennsylvania Ave NW,W00993,Member

In [27]:
df1['year']=df1['Start date'].dt.year

In [28]:
df1['month']=df1['Start date'].dt.month

In [29]:
df1['day']=df1['Start date'].dt.day

In [30]:
df1[:3]

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type,year,month,day
0,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,31208,M St & New Jersey Ave SE,31108,4th & M St SW,W00742,Member,2010,9,20
1,61,2010-09-20 11:41:22,2010-09-20 11:42:23,31209,1st & N St SE,31209,1st & N St SE,W00032,Member,2010,9,20
2,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,31600,5th & K St NW,31100,19th St & Pennsylvania Ave NW,W00993,Member,2010,9,20